@import "tailwindcss";

@theme {
  --color-brand-pink: #f8aaff;
  --color-brand-red: #FF2D2D;
  --color-brand-black: #000000;
  --color-brand-white: #FFFFFF;

  --font-display: "Bricolage Grotesque", system-ui, sans-serif;
  --font-body: "Inter", system-ui, sans-serif;

  --tracking-display: -0.03em;
}
